#post-form-container, .post-container {
  border: 1px solid silver;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
}

#all-posts:hover {
  cursor: pointer;
}

#view-header {
  text-align: center;
}

.post-likes:hover, .post-edit-btn:hover, #profile:hover {
  cursor: pointer;
}

.post-user {
  font-size: 18.5px;
  font-weight: bold;
}

.post-edit-btn {
  color: blue !important;
}

.post-edit-btn:hover, .post-user:hover {
  text-decoration: underline !important;
  cursor: pointer;
}